.comment{:id => cwa.dom_id}
  .body
    = cwa.body
    .div
      %span{:id => cwa.dom_id('vote_net_count')}= cwa.comment.vote_net_count
      - if user_signed_in?
        = link_to_vote_up_comment(cwa)
        = link_to_vote_down_comment(cwa)
        = link_to_favorite_comment(cwa)
        = link_to_flag_comment(cwa)
        = link_to_delete_comment(cwa)
        =# link_to_edit_comment(comment)		
      = "by #{cwa.author.username}"
