%div{:class => 'new-comment', :id => comment.try(:dom_id, 'new') || "root-new-comment", :style => "display: #{comment.blank? ? 'block' : 'none'}"}
  = form_for @new_comment, :remote => true do |f|
    = f.hidden_field :quote_id
    = hidden_field_tag :comment_id, comment.try(:id)
    = f.text_area :body, :size => "100x3", :maxlength => 2001
    %br
    = f.submit nil, :class => 'btn btn-primary'