%tr[qwa.quote]
  %td.voting
    .vote_count= qwa.vote_net_count
    .vote_links
      %span.vote_up= link_to_vote_up(qwa)
      %span.vote_down= link_to_vote_down(qwa)
    
  %td
    .by= qwa.subject_verb
    .text= qwa.text
    .context= qwa.context
    %span.action_links
      = link_to_comments(qwa)
      - if user_signed_in?
        = link_to_favorite(qwa)
        = link_to_flag_quote(qwa)
        = link_to_delete_quote(qwa)
      = link_to_edit_quote(qwa)
    %span.owner= link_to_submitted_by(qwa.owner)