= render :partial => 'nav_links'
= render :partial => 'quotes/new_js'
= render :partial => 'quotes'

- if user_signed_in?
  = render :partial => 'share_by_email'

= render :partial => 'quotes/quote_modal'
