%h1{:style => "margin-bottom: 1em"} Tell Us What's On Your Mind

= simple_form_for @feedback do |f|

  = error_messages_for(@feedback)
    
  - if user_signed_in?
    = f.input :username, :label => "Logged in as", :input_html => {:disabled => 'disabled'}
      
  = f.input :type, :label => "Feedback type", :collection => Feedback.types_options_for_select, :prompt => false
  = f.input :subject, :input_html => {:size => 60, :maxlength => 60}
  = f.input :body, :as => 'text', :input_html => { :cols => 100, :rows => 5, :maxlength => 2001 }
  
  - unless user_signed_in?
    .control-group.text
      %label
        = App::CAPTCHA_TEXT
        %span#captcha_login (Logged in users don't have to do this)
      .controls
        = recaptcha_tags :display => {:theme => "clean"}, :class => 'foo'
  
  .form-actions
    = f.submit 'Submit Feedback', :class => 'btn btn-primary', :id => 'submit'
    = or_cancel